In [1]:
from pyforest import *

In [2]:
df = pd.DataFrame()
df['Name'] = ['Karuna','Bhuvna','Gaurav','Parul','Dinesh','Jani','Bobby','Parimal','Govind','Susant','Gouri','Bharat','Ravi','Pradeep','Josh']
df['Aptitude'] = [2,2,7,7,8,4,5,3,8,6,6,6,6,9,5]
df['Communication'] = [5,6,6,2.5,6,7,3,5.5,3,5.5,4,7,2,7,4.5]
df['Class'] = ['Speaker','Speaker','Leader','Intel','Leader','Speaker','Intel','Speaker','Intel','Leader','Intel','Leader','Intel','Leader',np.nan]

# Created a dataset

In [3]:
#Let's say good at Aptitude, poor at Communication -> Intel
#          good at Communication, poor at Aptitude -> Speaker
#          good at both Communication & Aptitude -> Leader
df

       Name  Aptitude  Communication    Class
0    Karuna         2            5.0  Speaker
1    Bhuvna         2            6.0  Speaker
2    Gaurav         7            6.0   Leader
3     Parul         7            2.5    Intel
4    Dinesh         8            6.0   Leader
5      Jani         4            7.0  Speaker
6     Bobby         5            3.0    Intel
7   Parimal         3            5.5  Speaker
8    Govind         8            3.0    Intel
9    Susant         6            5.5   Leader
10    Gouri         6            4.0    Intel
11   Bharat         6            7.0   Leader
12     Ravi         6            2.0    Intel
13  Pradeep         9            7.0   Leader
14     Josh         5            4.5      NaN

# Last line is the test sample

# MAIN KNN ALGORITHM

In [36]:
def knn(df,k):
    dist = []
    for i in range(df.shape[0]):
        sse = 0
        for j in range(1,3):
            sse += pow((df.iloc[-1][j]-df.iloc[i][j]),2)  # df.iloc[-1][j] -> test data
        ED = np.sqrt(sse)
        dist.append(ED)
    df['Distance'] = dist
    df['Distance'] = round(df['Distance'],2)
    if k>0:
        if k==1:
            temp = list(df['Distance'].nsmallest(2))[1]
            target = df[df['Distance']==temp]['Class']
            return(target)
        else:
            temp = list(df['Distance'].nsmallest(k+1))    # lst[0] -> Intel # lst[1] -> Speaker # lst[2] -> Leader
            lst = [0,0,0]                                 # Initial counter set to 0
            for i in range(k):
                target = str(df[df['Distance'] == temp[i]]['Class'])
                if target == str(df['Class'].unique()[2]):
                    lst[0] += 1
                elif target == str(df['Class'].unique()[0]):
                    lst[1] += 1
                elif target == str(df['Class'].unique()[1]):
                    lst[2] += 1
            if lst.index(max(lst)) == 0:
                return(df['Class'].unique()[2])
            elif lst.index(max(lst)) == 1:
                return(df['Class'].unique()[0])
            elif lst.index(max(lst)) == 1:
                return(df['Class'].unique()[1])

# Running KNN function

In [44]:
zz = knn(df,10)
zz

'Intel'